

<div class="d-flex mt-4">
    <div class="">
      

      <ul class="list-group container m-3">
        <h2>Busquedas</h2>
      <hr>
        <li class="list-group-item col-md-12" routerLink="permiso" routerLinkActive="active">Buscar Permisos</li>
        <li class="list-group-item col-md-12" routerLink="comision" routerLinkActive="active" >Buscar Comisiones</li>
        <li class="list-group-item col-md-12" routerLink="dexclusiva" routerLinkActive="active">Buscar Dexclusivas</li>
      </ul>
    </div>

    <div class="shadow p-3 m-4 w-75 col-xs-12 col-md-12" style="height: 75%;">

      <router-outlet></router-outlet>
      
       
    </div>
  </div>
    
    
  
  