
<div class="row container mt-4">

    <div class="col-3">
      <h2>Busquedas</h2>
      <hr>

      <ul class="list-group">
        <li class="list-group-item" routerLink="permiso" routerLinkActive="active">Buscar Permisos</li>
        <li routerLink="comision" routerLinkActive="active" class="list-group-item">Buscar Comisiones</li>
        <li routerLink="dexclusiva" routerLinkActive="active" class="list-group-item">Buscar Dexclusivas</li>
      </ul>
    </div>

    <div class="col-2">
       <router-outlet></router-outlet>
  
    </div>
    
  </div>
    
