<div >

    <div class="navbar navbar-expand-lg p-2 m-5 d-flex justify-content-end" 
        style="background-color:#215e24">

        

        <div class="form-inline my-2 my-lg-0 me-5">
            <input type="text" class="form-control" placeholder="Buscar"
            #txtSearch (keyup)="onSearchComision( txtSearch.value )"/>
        </div>
    </div>

    

<table class="table table-striped">

            <thead>
              <tr>
                <th> # </th>
                <th> Estado </th>
                <th> Fecha </th>
                <th> Empleado </th>
                
                <th>Departamento</th>
                <th>Facultad</th>
                
            </tr>
            </thead>

            <tbody>
              <tr *ngFor="let comision of comisiones | filtro:page:search">
                <td>{{ comision.id }}</td>
                <td>{{ ultimoElemento(comision.intermediate_comisiones).intermediate_estados.nombre }}</td>
                <td>{{ ultimoElemento(comision.intermediate_comisiones).created_at | date:'yyyy-mm-dd'}}</td>
                <td>{{ comision.usuarios.nombre }} {{ comision.usuarios.apellido }}</td>
                <td>{{ comision.usuarios.departamentos.nombre }}</td>
                <td>{{ comision.usuarios.departamentos.facultades.nombre }}</td>
                

                
                <td>
                  <a data
                    data>
                  Ver...</a>
                </td>
              </tr>
            </tbody>
          </table>

          <div class="row d-flex justify-content-end w-100">
            <button class="btn btn-primary col-2 col-md-2 col-xs-2 "
                (click)="prevPage()">
                <i class="fa-solid fa-arrow-left" style="color:#fff;"></i>
            </button>
            &nbsp;
            <button class="btn btn-primary"
                (click)="nextPage()">
                <i class="fa-solid fa-arrow-right" style="color:#fff;"></i>
            </button>
        </div>


</div>




