<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  
  <button class="navbar-toggler hidden-sm-up" style= "margin: 5px;"type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed"
    data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="logo">
    <img src="https://www.udea.edu.co/wps/wcm/connect/udea/99fc43e7-7a64-45bd-97fc-96639b70813d/logosimbolo-vertical.png?MOD=AJPERES&CVID=ljeLvHr" alt="Logo udea" width="40px">
  </div>
  <div class="profile navbar-brand">
    <ul>
      <li ngbDropdown>
        <a id="id01" ngbDropdownToggle>
          <span class="fa-stack fa-1x">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fas fa-user fa-stack-1x fa-inverse"></i>
          </span>
        </a>
        <div class="dropdown-menu" aria-labelledby="id01" ngbDropdownMenu>
          <a class="dropdown-item" (click)="logout()">Salir</a>
        </div>
      </li>
    </ul>
  </div>

  <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarsDefault">
    <ul>
      <li>Some link</li>
    </ul>
  </div>
  

</nav>