<table class="table table-hover">
    <thead>
      <tr>
        <th> # </th>
        <th> Bandera </th>
        <th> Nombre </th>
        <th> Población</th>
        <th> </th>
  
  
      </tr>
    </thead>
    <tbody>
      <tr >
        <td>DATA</td>
        <td>
          <img class="small-flag"  alt="">
        </td>
        <td>data, data }}, data}}</td>
        <td>data</td>
        <td>
          <a 
            >
          Ver...</a>
        </td>
      </tr>
    </tbody>
  </table>
  