<div class="container shadow pt-4 pl-4 pr-4 mb-5 mt-5 bg-white rounded" style="align-items: unset;">
  <div class="row header-row">
    <div class="col">
      <span class="text-secondary">PERMISO</span>
    </div>
  </div>

  <hr />
  <div class="row regular-row">
    <div class="col-6 label">Solicitante</div>
    <div class="col-sm-6">
      {{ permiso?.usuarios?.nombre }} {{ permiso?.usuarios?.apellido }}
    </div>
  </div>

  <hr />
  <div class="row regular-row">
    <div class="col-6 label">Tipo de Comisión</div>
    <div class="col-sm-6">{{permiso?.tipos_permiso?.nombre}}</div>
  </div>

  <div class="row regular-row">
    <div class="col-6 label">Fecha de Creación</div>
    <div class="col-sm-6">{{ fechaCreacion | date:'yyyy-MM-dd'}} </div>
  </div>

  <div class="row regular-row">
    <div class="col-6 label">Día que Inicia</div>
    <div class="col-sm-6">{{permiso?.fecha_inicio | date: "fullDate"}}</div>
  </div>

  <div class="row regular-row">
    <div class="col-6 label">Día que Termina</div>
    <div class="col-sm-6">{{permiso?.fecha_fin | date: "fullDate"}}</div>
  </div>

  <div class="row regular-row">
    <div class="col-6 label">Justificación</div>
    <div class="col-sm-6">{{permiso?.justificacion}}</div>
  </div>


  <div class="row regular-row">
    <div class="col-6 label">Estado Actual de la Comisión</div>
      <div class="col-4">
        <span 
        class="badge badge-pill pill"
        [ngClass]="{
          'bg-solicitada':
          estadoActual === 'SOLICITADA',
          'bg-aprobada':
            estadoActual === 'APROBADA',
          'bg-visto-bueno':
            estadoActual === 'VISTO BUENO',
          'bg-finalizada':
            estadoActual === 'FINALIZADA',
          'bg-rechazada-decanato':
            estadoActual === 'RECHAZADA DECANATO',
          'bg-rechazada-coordinacion':
            estadoActual === 'RECHAZADA COORDINACIÓN'
        }"> 
          {{estadoActual}}
        </span>
      </div>
  </div>

  
  <!-- DOCUMENTOS -->
  <div class="row regular-row">
    <div class="col-6 label">Documentos</div>
    <div class="col-sm-6">
      <ul>
        <li *ngFor="let doc of documentosArray" >
          <span (click)="abrirDocumento(doc.id)">{{doc.nombre}}&nbsp;&nbsp;</span>&nbsp;
        </li>
      </ul>
    </div>
  </div>


  <div class="row regular-row">
    <div class="col-6 label">Resolución</div>
    <div class="col-6"></div>
  </div>

  <!-- <div class="d-md-flex justify-content-md-end">
    <div class="d-grid gap-2 col-sm-12 col-md-4 col-lg-2 col-xl-2 p-2">
      <button 
      type="button" 
      class="btn btn-success" 
      >
        Agregar Estado
      </button>
    </div>
    <div class="d-grid gap-2 col-sm-12 col-md-4 col-lg-2 col-xl-2 p-2">
      <button
        type="button"
        class="btn btn-success"
      >
        Subir cumplido
      </button>
    </div> -->
    <!-- <div  class="col-sm-12 col-md-4 col-lg-4 col-xl-4 p-2">
      <app-ver-estados-permiso></app-ver-estados-permiso>
    </div> -->
  <!-- </div> -->
  <div *ngIf="error" class="alert alert-danger mt-3 mb-0">
    {{ error }}
  </div>

  <!-- ELIMINAR O EDITAR -->
  <hr />
  <div class="footer-row d-md-flex justify-content-md-end">
    <div class="d-grid gap-2 col-sm-12 col-md-4 col-lg-4 col-xl-3 p-2">
      <button class="btn btn-danger" 
      (click)="delete(permiso?.id)">
        <span *ngIf="isLoading | async" class="spinner-border spinner-border-sm" ></span>
        Eliminar
      </button>
    </div>
    <div class="d-grid gap-2 col-sm-12 col-md-4 col-lg-4 col-xl-3 p-2">
      <button
        type="button"
        class="btn btn-warning "
        [routerLink]="['/permisos/editar-permiso', permiso?.id]"
      >
        Editar
      </button>
    </div>
  </div>
</div>
