<div class="container card shadow mt-5 bg-white rounded p-5 w-75">
  <div class="row header-row">
    <div class="col">
      <span class="text-secondary">PERMISO</span>
    </div>
  </div>

  <hr />
  <div class="row regular-row">
    <div class="col-xs-12 col-sm-6 label fw-bold">Solicitante</div>
    <div class="col-xs-12 col-sm-6">
      {{ permiso?.usuarios?.nombre }} {{ permiso?.usuarios?.apellido }}
    </div>
  </div>

  <hr />
  <div class="row regular-row">
    <div class="col-xs-12 col-sm-6 label fw-bold">Tipo de Comisión</div>
    <div class="col-xs-12 col-sm-6">{{permiso?.tipos_permiso?.nombre}}</div>
  </div>

  <div class="row regular-row">
    <div class="col-xs-12 col-sm-6 label fw-bold">Fecha de Creación</div>
    <div class="col-xs-12 col-sm-6">{{ fechaCreacion | date: "fullDate" }} </div>
  </div>

  <div class="row regular-row">
    <div class="col-xs-12 col-sm-6 label fw-bold">Día que Inicia</div>
    <div class="col-xs-12 col-sm-6">{{permiso?.fecha_inicio | date: "fullDate"}}</div>
  </div>

  <div class="row regular-row">
    <div class="col-xs-12 col-sm-6 label fw-bold">Día que Termina</div>
    <div class="col-xs-12 col-sm-6">{{permiso?.fecha_fin | date: "fullDate"}}</div>
  </div>

  <div class="row regular-row">
    <div class="col-xs-12 col-sm-6 label fw-bold">Justificación</div>
    <div class="col-xs-12 col-sm-6">{{permiso?.justificacion}}</div>
  </div>


  <div class="row regular-row">
    <div class="col-xs-12 col-sm-6 label fw-bold">Estado Actual de la Comisión</div>
      <div class="col-xs-12 col-sm-6">
        <span 
        class="badge badge-pill pill"
        [ngClass]="{
          'bg-solicitada':
          estadoActual === 'SOLICITADA',
          'bg-aprobada':
            estadoActual === 'APROBADA',
          'bg-visto-bueno':
            estadoActual === 'VISTO BUENO',
          'bg-finalizada':
            estadoActual === 'FINALIZADA',
          'bg-rechazada-decanato':
            estadoActual === 'RECHAZADA DECANATO',
          'bg-rechazada-coordinacion':
            estadoActual === 'RECHAZADA COORDINACIÓN'
        }"> 
          {{estadoActual}}
        </span>
      </div>
  </div>

  
  <!-- DOCUMENTOS -->
  <div class="row regular-row">
    <div class="col-xs-12 col-sm-6 label fw-bold">Documentos</div>
    <div class="col-xs-12 col-sm-6">
      <ul>
        <li *ngFor="let doc of documentosArray" >
          <span (click)="abrirDocumento(doc.id)">{{doc.nombre}}&nbsp;&nbsp;</span>&nbsp;
        </li>
      </ul>
    </div>
  </div>

  <!-- VER HISTORIAL ESTADOS -->
  <button
  type="button"
  class="btn btn-success btn-green btn-block"
  (click)="open()"
  >
  Ver Historial de estados
  </button>

  <div class="row regular-row">
    <app-historial-estados *ngIf="mostrarEstados" [estados] = "estados"></app-historial-estados>
  </div>

  <div *ngIf="error" class="alert alert-danger mt-3 mb-0">
    {{ error }}
  </div>

  <!-- ELIMINAR O EDITAR -->
  <hr />
  <div class="footer-row d-md-flex justify-content-md-end">
    <div class="d-grid gap-2 col-sm-12 col-md-4 col-lg-4 col-xl-3 p-2">
      <button
      type="button"
      class="btn btn-light "
      [routerLink]="['/permisos/asociar-estado', permiso?.id]"
      >
        Asociar nuevo Estado
      </button>
    </div>
    <div class="d-grid gap-2 col-sm-12 col-md-4 col-lg-4 col-xl-3 p-2">
      <button class="btn btn-danger" 
      (click)="delete(permiso?.id)">
        <span *ngIf="isLoading | async" class="spinner-border spinner-border-sm" ></span>
        Eliminar
      </button>
    </div>
    <div class="d-grid gap-2 col-sm-12 col-md-4 col-lg-4 col-xl-3 p-2">
      <button
        type="button"
        class="btn btn-warning "
        [routerLink]="['/permisos/editar-permiso', permiso?.id]"
      >
        Editar
      </button>
    </div>
  </div>
</div>