<div class="container card shadow mt-5 bg-white rounded p-4 w-75">
  <div class="row header-row">
    <div class="col">
      <span class="text-secondary">PERMISO</span>
    </div>
  </div>

  <hr />
  <div class="row regular-row">
    <div class="col-6 label">Tipo de Permiso</div>
    <div class="col-sm-6">{{permisoResponse.tipos_permiso}}</div>
  </div>

  <div class="row regular-row">
    <div class="col-6 label">Fecha de Creación</div>
    <div class="col-sm-6">{{permiso.createdAt | date: "fullDate"}} </div>
  </div>

  <div class="row regular-row">
    <div class="col-6 label">Día que Inicia</div>
    <div class="col-sm-6">{{permiso.fecha_inicio | date: "fullDate"}}</div>
  </div>

  <div class="row regular-row">
    <div class="col-6 label">Día que Termina</div>
    <div class="col-sm-6">{{permiso.fecha_fin | date: "fullDate"}}</div>
  </div>

  <div class="row regular-row">
    <div class="col-6 label">Justificación</div>
    <div class="col-sm-6">{{permiso.justificacion}}</div>
  </div>


  <div class="row regular-row">
    <div class="col-6 label">Estado Actual del Permiso</div>
      <div class="col-4">
        <span
          class="badge badge-pill pill">
        </span>
      </div>
  </div>

  
  <div class="row regular-row">
    <div class="col-6 label">Anexos</div>
    <div class="col-sm-6"><i class="fas fa-circle"></i> Anexo 1</div>
  </div>


  <div class="row regular-row">
    <div class="col-6 label">Resolución</div>
    <div class="col-6"></div>
  </div>

  <!-- <div class="row regular-row">
    <div class="col-4">
      <span
        class="badge badge-pill pill"
        [ngClass]="{
          'bg-solicitada':
            solicitud.estadoActual['intermediate_estados']['nombre'] ===
            'SOLICITADA',
          'bg-aprobada':
            solicitud.estadoActual['intermediate_estados']['nombre'] ===
            'APROBADA',
          'bg-visto-bueno':
            solicitud.estadoActual['intermediate_estados']['nombre'] ===
            'VISTO BUENO',
          'bg-finalizada':
            solicitud.estadoActual['intermediate_estados']['nombre'] ===
            'FINALIZADA',
          'bg-rechazada-decanato':
            solicitud.estadoActual['intermediate_estados']['nombre'] ===
            'RECHAZADA DECANATO',
          'bg-rechazada-coordinacion':
            solicitud.estadoActual['intermediate_estados']['nombre'] ===
            'RECHAZADA COORDINACIÓN'
        }"
      >
        {{ solicitud.estadoActual["intermediate_estados"]["nombre"] }}
      </span>
    </div>
    <div class="col-sm-4">
      {{ solicitud.estadoActual["fecha_actualizacion"] | date }}
    </div>
    <div class="col-4"></div>
  </div> -->

  <!-- <div class="row regular-row">
    <div class="col-4"></div>
    <div class="col-sm-8">
      {{ solicitud.estadoActual["observacion"] }}
    </div>
  </div> -->

  <!-- </div> -->
  <div *ngIf="error" class="alert alert-danger mt-3 mb-0">
    {{error}}
  </div>

  <hr />

  <div class="footer-row d-md-flex justify-content-md-end mb-3">
    <div class="d-grid gap-2 col-sm-12 col-md-4 col-lg-4 col-xl-3 p-2">
      <button
        type="button"
        class="btn btn-danger"
        (click)="delete(permisos.id)"
      >
        <span *ngIf="loading"
          class="spinner-border spinner-border-sm mr-1"
        ></span>
        Eliminar
      </button>
    </div>
    <div class="d-grid gap-2 col-sm-12 col-md-4 col-lg-4 col-xl-3 p-2">
      <button
        type="button"
        class="btn btn-warning"
        routerLink="../editar-permiso"
      >
        Editar
      </button>
    </div>
  </div>
</div>
