.containerInside {
  // margin-bottom: 10em;
  width: 100%;
  max-width: 700px;
  align-items: unset;
  min-height: 10vh;
}


@media (max-width: 576px) {
  .container {
      width: 95%;
  }
}

.btn-success {
  background-color: #43b649;
}


.ptitle{
  color: #ffffff;
  background-color: #026937;
  padding: 0.5em;
  border-radius: 0.2em;
  text-align: center;
}
