<div class="containerInside card shadow mt-5 bg-white rounded p-4 ">
  <div class="row header-row">
    <div class="col">
      <!-- <p class="ptitle">Modificar mi contraseña</p> -->
      <span class="text-secondary">MODIFICAR CONTRASEÑA</span>

    </div>
  </div>
  <hr />

  <form [formGroup]="editarContrasenaForm" (ngSubmit)="submit()">

    <div class="row regular-row">
      <div class="col-12">
        <input type="password" placeholder="Contraseña Actual" formControlName="contrasena_actual" class="form-control"
          [ngClass]="{
            'is-invalid': isInvalidForm('contrasena_actual')
          }" />
        <div *ngIf=" f['contrasena_actual'].errors" class="invalid-feedback">
          <div class="alert alert-danger">
            La contraseña es requerida
          </div>
        </div>

      </div>
    </div>

    <div class="row regular-row mt-3">
      <div class="col-12">
        <input type="password" placeholder="Nueva Contraseña" formControlName="contrasena_expected_1"
          class="form-control" [ngClass]="{
            'is-invalid': f['contrasena_expected_1'].errors && f['contrasena_expected_1'].touched
          }" />
        <div *ngIf="f['contrasena_expected_1'].errors && f['contrasena_expected_1'].touched" class="invalid-feedback">
          <div *ngIf="f['contrasena_expected_1'].errors['minlength']" class="alert alert-danger">
            La contraseña debe contener mínimo 8 caracteres

          </div>
        </div>
        <div *ngIf=" f['contrasena_expected_1'].errors && f['contrasena_expected_1'].touched" class="invalid-feedback">
          <div *ngIf="f['contrasena_expected_1'].errors['maxlength']" class="alert alert-danger">
            La contraseña es demasiado larga
          </div>
        </div>

      </div>
    </div>

    <div class="row regular-row mt-3">
      <div class="col-12">
        <input type="password" class="form-control" placeholder="Confirmar Contraseña"
          formControlName="contrasena_expected_2" [ngClass]="{
            'is-invalid': isInvalidForm('contrasena_expected_2')
          }" />
        <span style="color: red;" *ngIf="ValidatePasswords()">
          Las contraseñas no coinciden
        </span>

      </div>
    </div>
    <div *ngIf="error" class="alert alert-danger mt-3 mb-0">
      {{ error }}
    </div>

    <hr />

    <div class="footer-row d-md-flex justify-content-md-end mb-3">
      <div class="d-grid gap-2 col-sm-12 col-md-4 col-lg-4 col-xl-4 p-2">
        <button class="btn btn-secondary" [routerLink]="['/usuarios/ver-usuario', getId]">
          Cancelar
        </button>
      </div>
      <div class="d-grid gap-2 col-sm-12 col-md-4 col-lg-4 col-xl-4 p-2">
        <button class="btn btn-green btn-success btn-block" (submit)="true"
          [disabled]="ValidatePasswords() || editarContrasenaForm.invalid">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Enviar
        </button>
      </div>
    </div>
  </form>
</div>