.container { 
  margin-bottom: 10em;
  width: 600px;
  align-items: unset;
  min-height: 50vh;
  
}


@media (max-width: 576px) {
  .container {
      width: 95%;
  }
}

.btn-success {
  background-color: #43b649;
}
