.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}
.custom-day.focused {
  background-color: #e6e6e6;
}
.custom-day.range, .custom-day:hover {
  background-color: rgb(2, 117, 216);
  color: white;
}
.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
}
.container{
  min-height: 100vh;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em;
}
.card{
margin: auto;
margin-top: 0;
padding: 1em 0.5em;
}

@media screen and (max-width: 576px){
:host ::ng-deep .ngb-dp-months {
  flex-flow: row wrap;
  justify-content: flex-start;
}
:host ::ng-deep .ngb-dp-month {
  flex: 1 0 auto;
}
}



.formLabel{
left: 1.7em;
}

.selectLabel{
left: 1.7em;
}

.file-upload{
display: none;
}
