<div class="container-inside shadow-sm pt-4 pl-4 pr-2 mb-5 p-4 m-3 mt-5 bg-white rounded ">
  <div class="mb-3 d-flex justify-content-between p-2 ">
    <div class="d-flex">
      <label 
        for="table-complete-search" class="col-sm-auto col-form-label">Buscar:
      </label>

      <input id="table-complete-search" type="text" 
        class="form-control" name="searchTerm" 
        [(ngModel)]="service.searchTerm">
    </div>

    <span class="col col-form-label" 
      *ngIf="service.loading$ | async">Loading...
    </span>
  </div>

  <hr/>
  
  <form class="table-responsive">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead class="">
          <tr>
            <th scope="col">#</th>
            <th scope="col" sortable="nombre" (sort)="onSort($event)">Nombre</th>
            <th scope="col" sortable="createdAt" (sort)="onSort($event)">Apellido</th>
            <th scope="col" sortable="nombre" (sort)="onSort($event)">Rol</th>
            <th scope="col" sortable="nombre" (sort)="onSort($event)" >Departamento</th>
            <th scope="col" sortable="nombre" (sort)="onSort($event)" >Facultad</th>
            <th scope="col" sortable="nombre" (sort)="onSort($event)" >Creado</th>
            <th> </th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let usuario of usuarios$ | async">
            
          <th scope="row">{{ usuario.id }}</th>
          
          <td>
            <ngb-highlight
            [result]="usuario?.nombre" [term]="service.searchTerm">
            </ngb-highlight>
          </td>

          <td>
            <ngb-highlight
            [result]="usuario?.apellido" [term]="service.searchTerm">
            </ngb-highlight>
          </td>
          
          <td>
            <ngb-highlight
              [result]="usuario.roles.nombre" 
              class="badge badge-pill pill"
              [term]="service.searchTerm"
              [ngClass]="{
                'bg-solicitada':
                  usuario.roles.nombre === 'ADMIN',
                'bg-aprobada':
                  usuario.roles.nombre === 'VICERRECTORIA',
                'bg-visto-bueno':
                  usuario.roles.nombre === 'DECANATURA',
                'bg-finalizada':
                  usuario.roles.nombre === 'COORDINACION',
                'bg-empleado':
                  usuario.roles.nombre === 'EMPLEADO',
                'bg-profesor':
                  usuario.roles.nombre === 'PROFESOR',
                'bg-secretariacoor':
                  usuario.roles.nombre === 'SECRETARIA COORDINACION',
                'bg-secretarideca':
                  usuario.roles.nombre === 'SECRETARIA DECANATURA'
                }">
            </ngb-highlight>
          </td>
          
          <td>
            <ngb-highlight
            [result]="usuario.departamentos?.nombre" [term]="service.searchTerm">
            </ngb-highlight>
          </td>

          <td>
            <ngb-highlight 
            [result]="usuario.departamentos?.facultades?.nombre"  [term]="service.searchTerm">
            </ngb-highlight>
          </td>

          <td>
            <ngb-highlight 
            [result]="usuario.createdAt | date:'yyyy-MM-dd'" 
            [term]="service.searchTerm">
            </ngb-highlight>
          </td>
        </tbody>
      </table>
    </div>

    <hr/>
    
    <div class="d-flex justify-content-between p-2">
      <ngb-pagination
        [collectionSize]="(total$ | async)!" [(page)]="service.page" [pageSize]="service.pageSize">
      </ngb-pagination> 
    </div>
  
  </form>
</div>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
