<div class="container card shadow bg-white rounded">


    <form class="need-validation card" novalidate [formGroup]="fBasicInfo" (ngSubmit)="onSubmit()">
        <h2 class="formTitle">
            FORMATO DE EVALUACIÓN DE PROPUESTA O PROYECTO DE DEDICACIÓN EXCLUSIVA
        </h2>

        <h5>Datos del profesor solicitante</h5>
        <!-- <div class="alert alert-info">
            <p>
                Por favor cerciorese que los datos a continuación sean correctos.
            </p>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="formfloatig">
                    <input id="floatingNombre" formControlName="nombre" class="form-control" placeholder=" "
                        [ngClass]="{'is-invalid': isInvalidForm('nombre')}" required>
                    <label for="floatingNombre" class="formLabel">Nombres completos</label>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="formfloatig">
                    <input id="floatingApellidos" formControlName="apellido" class="form-control" placeholder=" "
                        [ngClass]="{'is-invalid': isInvalidForm('apellido')}" required>
                    <label for="floatingApellidos" class="formLabel">Apellidos completos</label>
                </div>
            </div>
        </div>

        <div class="formfloatig">
            <input id="floatingdId" formControlName="identificacion" class="form-control" type="number" placeholder=" "
                [ngClass]="{'is-invalid': isInvalidForm('identificacion')}" required>
            <label for="floatingdId" class="formLabel">Número de identificación</label>
        </div> -->

        <div class="row">
            <div class="col-lg-6 formfloatig">
                <input id="floatingExt" placeholder=" " formControlName="extension_oficina" class="form-control">
                <label for="floatingExt" class="formLabel" style="padding-left:1em;"> Número de extención
                    oficina</label>
            </div>

            <div class="col-lg-6 formfloatig">

                <input id="floatingcelular" formControlName="celular" class="form-control" type="number" placeholder=" "
                    [ngClass]="{'is-invalid': fBasicInfo.controls['celular'].invalid }">
                <label style="padding-left:1em;" for="floatingcelular" class="formLabel"> Número de teléfono
                    celular</label>

            </div>
        </div>



        <!-- <div class="formfloatig">
            <input id="floatingcorreo" formControlName="correo" class="form-control" type="correo" placeholder=" "
                [ngClass]="{'is-invalid': isInvalidForm('correo')}" required>
            <label for="floatingcorreo" class="formLabel">Correo Institucional
            </label>
        </div> -->
        <hr>
        <h4>Referencias básicas de la dedicación exclusiva</h4>

        <div class="formfloatig">
            <input id="floatingTitulo" formControlName="titulo" class="form-control" type="text" placeholder=" "
                [ngClass]="{'is-invalid': isInvalidForm('titulo')}" required>
            <label for="floatingTitulo" class="formLabel"> Título de la propuesta o proyecto<span
                    style="color:red">*</span>
            </label>
        </div>
        <div class="row">
            <div class="col-md-6 col-xs-12 col-sm-12">
                <div class="formfloatig">
                    <input id="floatingTiempo" formControlName="tiempo_solicitado" class="form-control" type="number"
                        placeholder=" " [ngClass]="{'is-invalid': isInvalidForm('tiempo_solicitado')}" required>
                    <label for="floatingTiempo" class="formLabel">Tiempo solicitado<span style="color:red">*</span>
                    </label>
                </div>
            </div>

            <div class="col-md-6 col-xs-12 col-sm-12">
                <div class="formfloatig">
                    <select class="form-select form-select-lg mb-3" id="floatingcampo_modalidad"
                        formControlName="campo_modalidad" required
                        [ngClass]="{'is-invalid': isInvalidForm('campo_modalidad')}" placeholder=" ">
                        <option [value]="campo_modalidad" *ngFor="let campo_modalidad of campos">{{campo_modalidad}}
                        </option>
                    </select>
                    <label for="floatingcampo_modalidad" class="selectLabel"
                        [ngClass]="{'isFill': fBasicInfo.controls['campo_modalidad'].valid}">Campo o modalidad<span style="color:red">*</span></label>
                </div>
            </div>
        </div>

        <h5>Documento comprobante de inscripción en el Sistema Universitario de Investigación (acta, contrato u otro):
        </h5>

        <div class="formfloatig">
            <textarea id="floatingComprobante" formControlName="descripcion_comprobante" class="form-control"
                placeholder=" " [ngClass]="{'is-invalid': isInvalidForm('descripcion_comprobante')}" rows="2">
            </textarea>
            <label for="floatingComprobante" class="formLabel">Comprobante de inscripción<span
                    style="color:red">*</span>
            </label>
        </div>

        <hr>
        <h5>Apoya al plan de desarrollo y acción institucional vigente en:</h5>
        <button class="btn btn-primary btn-sm" type="button" (click)="open()">Ver plan de desarrollo y acción</button>
        <!-- <div class="row">
            <div class="col-md-6 col-lg-6">
                <h6>Temas:<span style="color:red">*</span></h6>
                <div style="width: 100%;" formArrayName="tema_estrategico">

                    <div *ngFor="let tema of temasArr.controls; last as isLast; let i=index"
                        class="arrayLike formfloatig" [formGroupName]="i">
                        <textarea id="floatingTema{{i}}" rows="1" formControlName="tema" class="form-control"
                            type="text" placeholder=" "
                            [ngClass]="{'is-invalid': tema.invalid && tema.touched}"></textarea>
                        <label for="floatingTema{{i}}" class="formLabel">Tema {{i+1}}</label>
                        <div class="buttons">
                            <button class="btn btn-circle btn-danger btn-sm" type="button"
                                (click)="removeInput('tema_estrategico',i)" *ngIf="temasArr.length > 1">
                                <i class="fa fa-minus"></i>

                            </button>
                            <button class="btn btn-circle btn-primary btn-sm" type="button" (click)="addInputTemas()"
                                *ngIf="isLast">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>

                    </div>


                </div>
            </div>
            <div class="col-md-6 col-lg-6">


                <h6>Objetivo(s) estratégico(s) de desarrollo:<span style="color:red">*</span></h6>
                <div style="width: 100%;" formArrayName="objetivo_estrategico_desarrollo">

                    <div *ngFor="let objEstrategico of objEstrategicosArr.controls; last as isLast; let i=index"
                        class="arrayLike formfloatig" [formGroupName]="i">
                        <textarea id="floatingobjetivo_estrategico_desarrollo{{i}}" rows="1"
                            formControlName="objEstrategico" class="form-control" type="text" placeholder=" "
                            [ngClass]="{'is-invalid': objEstrategico.invalid && objEstrategico.touched}"></textarea>
                        <label for="floatingobjetivo_estrategico_desarrollo{{i}}" class="formLabel">Objetivo
                            {{i+1}}</label>
                        <div class="buttons">
                            <button class="btn btn-circle btn-danger btn-sm" type="button"
                                (click)="removeInput('objetivo_estrategico_desarrollo',i)"
                                *ngIf="objEstrategicosArr.length > 1">
                                <i class="fa fa-minus"></i>

                            </button>
                            <button class="btn btn-circle btn-primary btn-sm" type="button"
                                (click)="addInputObjEstrategicos()" *ngIf="isLast">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>

                    </div>


                </div>
            </div>

            

            <div class="col-md-6 col-lg-6">
                <h6>Accion(es) Estratégica(s):<span style="color:red">*</span></h6>
                <div style="width: 100%" formArrayName="acciones_estrategicas">

                    <div *ngFor="let accion of acciones_estrategicasArr.controls; last as isLast; let i=index"
                        class="arrayLike formfloatig" [formGroupName]="i">
                        <textarea id="floatingacciones_estrategicas{{i}}" rows="1" formControlName="accion"
                            class="form-control" type="text" placeholder=" "
                            [ngClass]="{'is-invalid': accion.invalid && accion.touched}">
                </textarea>
                        <label for="floatingacciones_estrategicas{{i}}" class="formLabel">Acción estratégica
                            {{i+1}}</label>
                        <div class="buttons">
                            <button class="btn btn-circle btn-danger btn-sm" type="button"
                                (click)="removeInput('acciones_estrategicas',i)"
                                *ngIf="acciones_estrategicasArr.length > 1">
                                <i class="fa fa-minus"></i>
                            </button>
                            <button class="btn btn-circle btn-primary btn-sm" type="button"
                                (click)="addInputacciones_estrategicas()" *ngIf="isLast">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <hr>
        <h5>Apoya al plan de Acción Institucional Vigente en:</h5>
        <div class="row">

            <div class="col-md-6 col-lg-6">
                <h6>Objetivo(s) extratégico(s) institucional(es):<span style="color:red">*</span></h6>
                <div style="width: 100%" formArrayName="objetivo_estrategico_institucional">

                    <div *ngFor="let objetivo of objetivo_estrategico_institucionalArr.controls; last as isLast; let i=index"
                        class="arrayLike formfloatig" [formGroupName]="i">
                        <textarea id="floatingobjetivo_estrategico_institucional{{i}}" rows="1"
                            formControlName="objetivo" class="form-control" type="text" placeholder=" "
                            [ngClass]="{'is-invalid': objetivo.invalid && objetivo.touched}">
                    </textarea>
                        <label for="floatingobjetivo_estrategico_institucional{{i}}" class="formLabel">Objetivo
                            {{i+1}}</label>
                        <div class="buttons">
                            <button class="btn btn-circle btn-danger btn-sm" type="button"
                                (click)="removeInput('objetivo_estrategico_institucional',i)"
                                *ngIf="objetivo_estrategico_institucionalArr.length > 1">
                                <i class="fa fa-minus"></i>
                            </button>
                            <button class="btn btn-circle btn-primary btn-sm" type="button"
                                (click)="objetivo_estrategico_institucional()" *ngIf="isLast">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>

                    </div>

                </div>
            </div>
            

            <div class="col-md-6 col-lg-6">
                <h6>Indicador(es):<span style="color:red">*</span></h6>
                <div style="width: 100%" formArrayName="indicador">

                    <div *ngFor="let indicador of indicadorArr.controls; last as isLast; let i=index"
                        class="arrayLike formfloatig" [formGroupName]="i">
                        <textarea id="floatingindicador{{i}}" formControlName="indicador" rows="1" class="form-control"
                            type="text" placeholder=" "
                            [ngClass]="{'is-invalid': indicador.invalid && indicador.touched}">
                </textarea>
                        <label for="floatingindicador{{i}}" class="formLabel">Indicador {{i+1}}</label>
                        <div class="buttons">
                            <button class="btn btn-circle btn-danger btn-sm" type="button"
                                (click)="removeInput('indicador',i)" *ngIf="indicadorArr.length > 1">
                                <i class="fa fa-minus"></i>
                            </button>
                            <button class="btn btn-circle btn-primary btn-sm" type="button"
                                (click)="addInputIndicador()" *ngIf="isLast">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>

                    </div>

                </div>
            </div>
        </div> -->
        <hr>
        
        <!-- <div class="alert alert-info">
            <p>El profesor debe indicar los productos adquiere y se compromete a entregar una vez culmine su período de
                Dedicación Exclusiva. Esta información será consignada en la Resolución de Vicerrectoría de Docencia.
            </p>
        </div> -->
        <h6>Productos y metas que el profesor adquiere y se compromete a entregar una vez culmine su período de Dedicación Exclusiva. Esta información será consignada en la Resolución de Vicerrectoría de Docencia.</h6>
        <div class="row">

            <div class="col-md-6 col-lg-6">
                <h6>Meta(s):<span style="color:red">*</span></h6>
                <div style="width: 100%;" formArrayName="metas">

                    <div *ngFor="let meta of metasArr.controls; last as isLast; let i=index"
                        class="arrayLike formfloatig" [formGroupName]="i">
                        <textarea id="floatingMeta{{i}}" formControlName="meta" rows="1" class="form-control"
                            type="text" placeholder=" "
                            [ngClass]="{'is-invalid': meta.invalid && meta.touched}"></textarea>
                        <label for="floatingMeta{{i}}" class="formLabel">Meta {{i+1}}</label>
                        <div class="buttons">
                            <button class="btn btn-circle btn-danger btn-sm" type="button"
                                (click)="removeInput('metas',i)" *ngIf="metasArr.length > 1">
                                <i class="fa fa-minus"></i>

                            </button>
                            <button class="btn btn-circle btn-primary btn-sm" type="button" (click)="addInputMetas()"
                                *ngIf="isLast">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>

                    </div>
                </div>


            </div>

            <div class="col-md-6 col-lg-6" >
                <h6>Productos:<span style="color:red">*</span></h6>
                <div style="width: 100%;" formArrayName="productos">
                    <div *ngFor="let producto of productosArr.controls; last as isLast; let i=index"
                    class="arrayLike formfloatig" [formGroupName]="i">
                    <textarea id="floatingproductos{{i}}" formControlName="producto" rows="1" class="form-control"
                        type="text" placeholder=" " [ngClass]="{'is-invalid': producto.invalid && producto.touched}">
                    </textarea>
                    <label for="floatingproductos{{i}}" class="formLabel">Producto {{i+1}}</label>
                    <div class="buttons">
                        <button class="btn btn-circle btn-danger btn-sm" type="button"
                            (click)="removeInput('productos',i)" *ngIf="productosArr.length > 1">

                            <i class="fa fa-minus"></i>

                        </button>
                        <button class="btn btn-circle btn-primary btn-sm" type="button" (click)="addInputProductos()"
                            *ngIf="isLast">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>



                </div>

                </div>
                
            </div>

        </div>



        <button class="btn btn-add" id="Enviar" (submit)="true"
            [disabled]="fBasicInfo.invalid || (isLoading|async)">
            <span *ngIf="isLoading | async" class="spinner-border spinner-border-sm" role="status"
                aria-hidden="true"></span>
            Enviar
        </button>

    </form>
</div>