.container{
    max-width: 1440px;
    width:100%;
}

*{
    box-sizing: border-box;
    font-size: small;
}

form{
    width: 100%;
    margin: 0;
}

.btn-add {
    border-color: #fff;
    color: #fff;
    background-color: #43b649;
  }
  
  .btn-add:hover {
    background-color: #79b97c;
  }