#table-complete-search {
    margin-left: 1em;
}
.container-inside {
    margin-bottom: 6em !important;
}

.btn-info {
    background-color: #f9a12c;
    border-color: #f9a12c;;
}.btn-info:hover { 
    background-color: #f9a02cb5;
}
