<div class="">
  <div class="row">
    <div class="col-md-12 col-xs-12 col-lg-2">
      <app-menu-lateral
        (paramsEmiter)="changeParams($event)"
      ></app-menu-lateral>
    </div>

    <div class="col-12 col-lg-10" *ngIf="params[0]">
      <app-buscar-permiso></app-buscar-permiso>
    </div>

    <div class="col-12 col-lg-10" *ngIf="params[1]">
      <app-buscar-comision></app-buscar-comision>
    </div>

    <div class="col-12 col-lg-10" *ngIf="params[2]">
      <app-buscar-dexclusiva></app-buscar-dexclusiva>
    </div>
  </div>
</div>

