<div class="container">
    <h3 class="header"> Elige un tema estratégico </h3>

    <div class="temas">
        <h4 class="titulo">
            Título Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio tempora, quia velit magni assumenda delectus dolorum temporibus pariatur debitis eaque dicta animi at ad adipisci perferendis! Sapiente iusto dolor quod.
        </h4>
        <hr>
        <h5 class="subtitulo">
            subtitulo Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum eveniet, ab totam perspiciatis ut, nisi repellat inventore quas mollitia numquam cumque animi obcaecati quae aspernatur, magnam ducimus distinctio sapiente ipsum.
        </h5>

        <ngb-accordion>
            <ngb-panel title="Descripción">
                <ng-template ngbPanelContent>
                        Descripción
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga corrupti maxime provident qui labore quam dolores voluptate aperiam quod illum reiciendis, quae quasi aliquam fugit suscipit minus recusandae! Iusto, perferendis!
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio nulla maxime quia itaque incidunt ut rerum inventore blanditiis soluta iure, ab autem voluptatum deleniti, aperiam dolor aut in neque amet?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, architecto. Eveniet nesciunt nobis velit obcaecati atque culpa neque sunt delectus ipsum a eaque distinctio, facere maxime maiores porro ad voluptatum.
                </ng-template>
            </ngb-panel>
        </ngb-accordion>
        <button class="btn btn-circle btn-primary btn-sm" type="button">Elegir</button>
        

    </div>
</div>