<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 ladoizquierdo">
            <h3>
                Carta de iniciación
            </h3>

            <form [formGroup]="FormCarta" (submit)="OnSubmit()">
                <div class="form-group">
                    <quill-editor #disciplineQE id="discipline-qe" [placeholder]="'Ingrese aquí el cuerpo de la carta'"
                        formControlName="Cuerpo"></quill-editor>

                </div>
            </form>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
            <div class="visual">
                <h5>Previsualización</h5>
                <div class="carta" id="carta" #carta>
                    <div class="cabecera">
                        <div class="logo">
                            <img src="../../../../../assets/Logosímbolo+Universidad+de+Antioquia+horizontal+®-01.jpg" width="280px">
                        </div>
                        <div class="fecha">
                            <p style="margin:0;">
                                Medellín, {{fecha | date: 'longDate' }}
                            </p>
                        </div>
                    </div>
                    <div class="cuerpo">
                        <p> Señores</p>
                        <p> <b> CONSEJO DE {{usuario.departamentos.descripcion == 'Instituto' ? ('Instituto de ' +
                                usuario.departamentos.nombre | uppercase) : usuario.departamentos.nombre | uppercase}}
                            </b></p>
                        <p>{{
                            usuario.departamentos.facultades.descripcion | titlecase}}</p>
                        <p>Universidad de Antioquia</p>
                        <br>
                        <p>Respetados miembros del consejo:</p>
                        <br>
                        <div class="cuerpo-texto ql-editor" id="cuerpo" [innerHTML]="FormCarta.value.Cuerpo">
                        </div>
                    </div>
                    <div class="footer">
                        <div class="informacion-usuario">
                            <div class="nombre-usuario">
                                <p style="margin:0;">
                                    {{usuario.nombre + ' ' + usuario.apellido | titlecase }}
                                </p>
                            </div>
                            <div class="cargo-usuario">
                                <p style="margin:0;">
                                    <!-- {{usuario.roles.nombre | titlecase }} -->
                                </p>
                            </div>
                            <div class="departamento">
                                <p style="margin:0;">
                                    {{usuario.departamentos.descripcion == 'Instituto' ? ('Instituto de ' +
                                    usuario.departamentos.nombre | titlecase) : usuario.departamentos.nombre |
                                    titlecase}}
                                </p>
                            </div>
                            <div class="facultad">
                                <p style="margin:0;">
                                    {{
                                    usuario.departamentos.facultades.descripcion | titlecase}}
                                </p>
                            </div>
                            <div class="mail">
                                <a href="mailto:{{usuario.email}}" style="margin:0;">
                                    {{usuario.email}}
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="botones">
        <button id="Generador-carta" class="btn btn-primary btn-lg" (click)="makePdf()" (submit)="false" >
            <span class="spinner" id="spinner" style="display: none;">
                <span class="spinner-border spinner-border-sm"  role="status" aria-hidden="true" ></span>
               Cargando...
           </span>
           <span id="btn-text">Generar carta</span>
            </button>
        <button class="btn btn-success btn-lg" (click)="OnSubmit()" (submit)="true">Siguiete paso</button>
    </div>
   
</div>