
<div class="container card shadow mt-5 bg-white rounded p-4 w-75">
  <div class="row header-row">
    <div class="col">
      <span class="text-secondary">PERFIL</span>
    </div>
  </div>
  <hr />
  <div>

  <div class="row regular-row">
    <div class="col-4 label">Documento</div>
    <div class="col-sm-8"> {{ usuario.tipo_identificacion }}</div>
  </div>

  <div class="row regular-row">
    <div class="col-4 label">Identificación</div>
    <div class="col-sm-8"> {{ usuario.identificacion }}</div>
  </div>

  <div class="row regular-row">
    <div class="col-4 label">Nombre</div>
    <div class="col-sm-8"> {{ usuario.nombre }}</div>
  </div>

  <div class="row regular-row">
    <div class="col-4 label">Apellido</div>
    <div class="col-sm-8"> {{ usuario.apellido }}</div>
  </div>
 <div class="row regular-row">
    <div class="col-4 label">Email</div>
    <div class="col-sm-8"> {{usuario.correo }}</div>
  </div> 

  <div class="row regular-row">
    <div class="col-4 label">Estado</div>
    <div class="col-sm-8">{{ usuario.estado }}</div>
  </div>

  <!-- <div class="row regular-row">
    <div class="col-4 label">Dias de Permiso Disponibles</div>
    <div class="col-sm-8"> {{ usuario.dia_dispobible }}</div>
  </div> -->

  <div class="row regular-row">
    <div class="col-4 label">Facultad</div>
    <div class="col-sm-8">
        {{ usuarioResponse.departamentos.facultades }}
    </div>
  </div>

  <div class="row regular-row">
    <div class="col-4 label">Departamento</div>
    <div class="col-sm-8"> {{ usuarioResponse.departamentos.nombre }}</div>
  </div>
</div>

  <hr />
  <div class="footer-row d-md-flex justify-content-md-end mb-3">
    <div class="d-grid gap-2 col-sm-12 col-md-4 col-lg-4 col-xl-2 p-2">
      <button
        type="button"
        class="btn btn-green btn-success btn-block"
        [routerLink]="['../editar-contrasena', usuario.id]"
      >
        Modificar Contraseña
      </button>
    </div>

    <div class="d-grid gap-2 col-sm-12 col-md-4 col-lg-4 col-xl-2 p-2">
      <button
        type="button"
        class="btn btn-warning btn-block"
        [routerLink]="['../editar-perfil', usuario.id]"
      >
        Editar Información
      </button>
    </div>
  </div>
  <div class="row footer-row"></div>
</div>