<!-- <app-stepper #cdkStepper [linear]="isLinear">
    <cdk-step label="Carta de iniciación" [editable]="isEditable" [optional]="false">
        <ng-template cdkStepLabel>
            <span class="icon is-medium">
                <i class="fas fa-duotone fa-envelopes-bulk"></i>
            </span>
        </ng-template>
        <app-carta-inicio [editing]="true"></app-carta-inicio>
    </cdk-step>
    <cdk-step label="Formulario" [editable]="isEditable" [optional]="false">
        <ng-template cdkStepLabel>
            <span class="icon is-medium">
                <i class="fas fa-duotone fa-rectangle-list"></i>
            </span>
        </ng-template>
        <app-f-dedicacion (dedicacion_id)="id$"></app-f-dedicacion>
    </cdk-step>
    <cdk-step label="Personal Details"  [optional]="false">

        <ng-template cdkStepLabel>
            <a type="button" (click)="planTrabajo()" style="width: 100%; height:100%;">
                <span class="icon is-medium">
                    <i class="fas fa-user"></i>
                </span>
            </a> 

            <a type="button" style="width: 100%; height:100%;">
                <span class="icon is-medium">
                    <i class="fas fa-user"></i>
                </span>
            </a>
        </ng-template>

        <app-plan-trabajo [planTrabjo]="plantrabajo" [editable]="editarPlanTrabajo" ></app-plan-trabajo>
    </cdk-step>
</app-stepper> -->


  <div class="">
    <div class="row">
      <div class="col-md-12 col-xs-12 col-lg-2">
        <app-menu-lateral-dedicacion
          (paramsEmiter)="changeParams($event)"
        ></app-menu-lateral-dedicacion>
      </div>
  
      <div class="col-12 col-lg-10" *ngIf="params[0]">
        <app-carta-inicio [editable]="editarCarta" [idDedicacion]="idDedicacion"></app-carta-inicio>
      </div>
  
      <div class="col-12 col-lg-10" *ngIf="params[1]">
        <app-f-dedicacion (dedicacion_id)="id$"></app-f-dedicacion>
      </div>
  
      <div class="col-12 col-lg-10" *ngIf="params[2]">
        <app-plan-trabajo  [editable]="editarPlanTrabajo" [idDedicacion]="idDedicacion" ></app-plan-trabajo>
      </div>
    </div>
  </div>
  