<div>
    <div class="row">
      <div class="col-md-12 col-xs-12 col-lg-2">
        <app-menu-lateral-dedicacion
          (paramsEmiter)="changeParams($event)"
        ></app-menu-lateral-dedicacion>
      </div>
  
      <div class="col-12 col-lg-10" *ngIf="params[0]">
        <app-carta-inicio [idDedicacion]="idDedicacion"></app-carta-inicio>
      </div>
  
      <div class="col-12 col-lg-10" *ngIf="params[1]">
        <app-f-dedicacion [idDedicacion]="idDedicacion" (dedicacion_id)="id$"></app-f-dedicacion>
      </div>
  
      <div class="col-12 col-lg-10" *ngIf="params[2]">
        <app-plan-trabajo [idDedicacion]="idDedicacion" ></app-plan-trabajo>
      </div>
    </div>
  </div>
  