<div class="container-inside shadow-sm pt-4 pl-4 pr-2 mb-5 p-4 m-3 mt-5 bg-white rounded">
  <div class="mb-3 d-flex justify-content-between p-2">
    <div class="d-flex">
      <label for="table-complete-search" class="col-sm-auto col-form-label">Buscar:
      </label>
      <input id="table-complete-search" type="text" class="form-control" name="searchTerm"
        [(ngModel)]="Buscarservice.searchTerm">
        
      <button class="btn btn-info" type="button" (click)="refresh()"> <i class="fas fa-refresh"></i> </button>

      <span class="col-form-label " style="padding-left: 1em" *ngIf="Buscarservice.loading$ | async">
        <div class="spinner-border text-primary" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </span>
    </div>

  </div>

  <hr />

  <form class="table-responsive">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col" sortable="nombre" (sort)="onSort($event)">Descripción</th>
            <th scope="col" sortable="createdAt" (sort)="onSort($event)">Fecha</th>
            <th scope="col" sortable="nombre" (sort)="onSort($event)" *ngIf="!(rol == 'PROFESOR' || rol == 'EMPLEADO')">
              Nombre</th>
            <th scope="col" sortable="apellido" (sort)="onSort($event)"
              *ngIf="!(rol == 'PROFESOR' || rol == 'EMPLEADO')">Apellido</th>
            <th scope="col" sortable="estado" (sort)="onSort($event)"
              >
              Estado</th>
            <th scope="col" sortable="departamento" (sort)="onSort($event)">Departamentos</th>
            <th scope="col" sortable="facultad" (sort)="onSort($event)">Facultad</th>

          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let dedicacion of dedicaciones$ | async"
            [routerLink]="['/dedicaciones/ver-dedicacion', dedicacion.id]" class="click-table">

            <th scope="row">{{ dedicacion.id }}</th>

            <td>
              <ngb-highlight [result]="dedicacion.titulo" [term]="Buscarservice.searchTerm">
              </ngb-highlight>
            </td>

            <td>
              <ngb-highlight [result]="(dedicacion.createdAt | date:'yyyy-MM-dd')?.toString()"
                [term]="Buscarservice.searchTerm">
              </ngb-highlight>
            </td>



            <td *ngIf="!(rol == 'PROFESOR' || rol == 'EMPLEADO')">
              <ngb-highlight [result]="dedicacion.usuarios.nombre" [term]="Buscarservice.searchTerm">
              </ngb-highlight>
            </td>

            <td *ngIf="!(rol == 'PROFESOR' || rol == 'EMPLEADO')">
              <ngb-highlight [result]="dedicacion.usuarios.apellido" [term]="Buscarservice.searchTerm">
              </ngb-highlight>
            </td>
            <td>
              <ngb-highlight [result]="ultimoElemento(dedicacion.intermediate_dedicaciones).intermediate_estados.nombre"
                [term]="Buscarservice.searchTerm" class="badge badge-pill pill" [ngClass]="{
                    'bg-solicitada':
                      ultimoElemento(dedicacion.intermediate_dedicaciones).intermediate_estados.nombre === 'SOLICITADA',
                    'bg-aprobada': 
                      (ultimoElemento(dedicacion.intermediate_dedicaciones).intermediate_estados.nombre === 'APROBADA' || ultimoElemento(dedicacion.intermediate_dedicaciones).intermediate_estados.nombre === 'APROBADA CONCEJO INSTITUTO'),
                    'bg-visto-bueno':
                      ultimoElemento(dedicacion.intermediate_dedicaciones).intermediate_estados.nombre === 'EN CURSO',
                    'bg-finalizada':
                      ultimoElemento(dedicacion.intermediate_dedicaciones).intermediate_estados.nombre === 'FINALIZADA',
                    'bg-rechazada-decanato':
                      ultimoElemento(dedicacion.intermediate_dedicaciones).intermediate_estados.nombre === 'RECHAZADA DECANATO',
                    'bg-rechazada-coordinacion':
                      ultimoElemento(dedicacion.intermediate_dedicaciones).intermediate_estados.nombre === 'RECHAZADA COORDINACIÓN',
                      'bg-en-creacion':
                      ultimoElemento(dedicacion.intermediate_dedicaciones).intermediate_estados.nombre === 'EN CREACIÓN'
                    }">
              </ngb-highlight>
            </td>

            <td>
              <ngb-highlight [result]="dedicacion.usuarios.departamentos.nombre" [term]="Buscarservice.searchTerm">
              </ngb-highlight>
            </td>

            <td>
              <ngb-highlight [result]="dedicacion.usuarios.departamentos.facultades.nombre"
                [term]="Buscarservice.searchTerm">
              </ngb-highlight>
            </td>
        </tbody>
      </table>
    </div>

    <hr />

    <div class="d-flex justify-content-between p-2">
      <ngb-pagination [collectionSize]="(total$ | async)!" [(page)]="Buscarservice.page"
        [pageSize]="Buscarservice.pageSize">
      </ngb-pagination>
    </div>
  </form>
</div>