.tema{
    height: 100%;
    color: black;
    margin: 0.25em;
    padding: 0.5em;
}

.tema:hover{
    cursor: pointer;
    transform: scale(1.05);
}

h5{
  color: #026937;
}

.selected{
    border: 4px solid #79b97c;
}

.my-footer {
    margin: 0 0 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .btn-add {
    border-color: #fff;
    color: #fff;
    background-color: #43b649;
  }
  
  .btn-add:hover {
    background-color: #79b97c;
  }
