<app-stepper #cdkStepper [linear]="isLinear">
    <cdk-step label="Carta de iniciación"  [optional]="false">
        <ng-template cdkStepLabel>
            <span *ngIf="!(cartaSuccess$ | async) "class="icon is-medium">
                <i class="fas fa-duotone fa-envelopes-bulk"></i>
            </span>
            <span *ngIf="cartaSuccess$| async" class="icon is-medium">
                <i class="fas fa-duotone fa-lg fa-check-circle"></i>
            </span>
        </ng-template>
        <app-carta-inicio></app-carta-inicio>
    </cdk-step>
    <cdk-step label="Formulario" [optional]="false">
        <ng-template cdkStepLabel>
            <span *ngIf="!(formatoSuccess$ | async)" class="icon is-medium">
                <i class="fas fa-duotone fa-rectangle-list"></i>
            </span>
            <span *ngIf="formatoSuccess$ | async" class="icon is-medium">
                <i class="fas fa-duotone fa-lg fa-check-circle"></i>
            </span>
    </ng-template>
        <app-f-dedicacion (dedicacion_id)="id$"></app-f-dedicacion>
    </cdk-step>
    <cdk-step label="Personal Details"  [optional]="false">
        <ng-template cdkStepLabel>
            <span *ngIf="!(planSuccess$|async)"class="icon is-medium">
                <i class="fas fa-user"></i>
            </span>
            <span *ngIf="planSuccess$ | async" class="icon is-medium">
                <i class="fas fa-duotone fa-lg fa-check-circle"></i>
            </span>
    </ng-template>
        <app-plan-trabajo></app-plan-trabajo>
    </cdk-step>
</app-stepper>
