
<div class="container shadow-sm pt-4 pl-4 pr-2 mb-5 bg-white rounded">
<form>
  <div class="mb-3 row">
    <label for="table-complete-search" class="col-xs-3 col-sm-auto col-form-label">Buscar Solicitud:</label>
    <div class="col-xs-3 col-sm-auto">
      <input id="table-complete-search" type="text" class="form-control" name="searchTerm" [(ngModel)]="service.searchTerm">
    </div>
    <span class="col col-form-label" *ngIf="service.loading$ | async">Loading...</span>
  </div>

  <table class="table table-striped">
    <thead>
    <tr>
    
      <th scope="col">#</th>
      <th scope="col" sortable="tipos_comision" (sort)="onSort($event)">Solicitud</th>
      <th scope="col" sortable="intermediate_comisiones" (sort)="onSort($event)">Estado</th>
      <th scope="col" sortable="intermediate_comisiones" (sort)="onSort($event)">Fecha</th>
    </tr>
    </thead>
    <tbody>
    
      <tr *ngFor="let comision of comisiones$ | async">

      <th scope="row">{{ comision.id }}</th>

      <td>
        <ngb-highlight [result]="comision.tipos_comision.nombre" [term]="service.searchTerm"></ngb-highlight>
      </td>

      
      <!-- <td>
        <ngb-highlight [result]="comision.nombreEstadoActual" [term]="service.searchTerm"></ngb-highlight>
        
      </td> -->

      <td>
        <ngb-highlight
          [result]="ultimoEstado(comision)"
          [term]="service.searchTerm"
          class="badge badge-pill pill"
          [ngClass]="{
            'bg-solicitada':
              ultimoEstado(comision) === 'SOLICITADA',
            'bg-aprobada': ultimoEstado(comision) === 'APROBADA',
            'bg-visto-bueno':
              ultimoEstado(comision) === 'VISTO BUENO',
            'bg-finalizada':
              ultimoEstado(comision) === 'FINALIZADA',
            'bg-rechazada-decanato':
              ultimoEstado(comision) === 'RECHAZADA DECANATO',
            'bg-rechazada-coordinacion':
              ultimoEstado(comision) === 'RECHAZADA COORDINACIÓN'
          }"
        ></ngb-highlight>
      </td>

      <td>
        <ngb-highlight [result]="ultimaFecha(comision) | date" [term]="service.searchTerm"></ngb-highlight>
      </td>



        <!-- <ngb-highlight [result]="country.name" [term]="service.searchTerm"></ngb-highlight> -->
      <!-- <td><ngb-highlight [result]="country.area | number" [term]="service.searchTerm"></ngb-highlight></td> -->
      <!-- <td><ngb-highlight [result]="country.population | number" [term]="service.searchTerm"></ngb-highlight></td> -->
    </tr>
    </tbody>
  </table>

  <div class="d-flex justify-content-between p-2">
    <ngb-pagination
      [collectionSize]="(total$ | async)!" [(page)]="service.page" [pageSize]="service.pageSize">
    </ngb-pagination> -->

    <select class="form-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize"> 
      <option [ngValue]="2">2 items per page</option>
      <option [ngValue]="4">4 items per page</option>
      <option [ngValue]="6">6 items per page</option>
    </select>
  </div>

</form>
</div>