h5{
  padding: 0;
}

.botones{
  margin-top: 10px;
}

.container { 
  margin-bottom: 10em;
  align-items: unset;
  min-height: 50vh;
  width: 50em;
}


.btn-warning { 
  background-color: #f9a12c;
}

@media (max-width: 576px) {
  .container {
      width: 100%;
  }
}
