<form
  need-validation
  novalidate
  [formGroup]="formUpdate"
  (ngSubmit)="submitUpdate()"
  class="container card shadow mt-5 bg-white rounded"
>
  <div class="p-4">
    <div class="card-body">
      <div class="row header-row P-2">
        <div class="col">
          <span class="text-secondary">EDITAR PERFIL</span>
        </div>
      </div>
      <hr />
      <div class="form">

        <div class="row regular-row m-2">
          <div class="col-xs-12 col-sm-6 label fw-bold">Nombre Completo</div>
          <div class="col-xs-12 col-sm-6">           
            <input
            id="nombre"
            type="text"
            class="form-control"
            placeholder=""
            formControlName="nombre"
          /></div>
        </div>
        <div class="row regular-row m-2">
          <div class="col-xs-12 col-sm-6 label fw-bold">Apellidos</div>
          <div class="col-xs-12 col-sm-6">           
            <input
            id="apellido"
            type="text"
            class="form-control"
            placeholder=" "
            formControlName="apellido"
          />
          </div>
        </div>
        <div class="row regular-row m-2">
          <div class="col-xs-12 col-sm-6 label fw-bold">Tipo de Identificacion</div>
          <div class="col-xs-12 col-sm-6">           
            <select
            class="form-select form-select-lg"
            id="floatingcampo_modalidad"
            formControlName="tipo_identificacion"
            required
            placeholder=" "
          >
            <option [value]="tipo" *ngFor="let tipo of tiposId">
              {{ tipo | uppercase }}
            </option>
          </select>
          <label
            for="floatingcampo_modalidad"
            class="selectLabel"
            [ngClass]="{ isFill: true }"
            ></label
          >
          </div>
        </div>
        <div class="row regular-row m-2">
          <div class="col-xs-12 col-sm-6 label fw-bold">Contraseña</div>
          <div class="col-xs-12 col-sm-6">           
            <input
            id="contrasena"
            type="password"
            class="form-control"
            placeholder=" "
            formControlName="contrasena"
          />
          </div>
        </div>
        <!-- <div class="d-flex justify-content-end m-2">
          <span class="text-danger">La contraseña es requerida</span>
          <span class="text-danger">Contraseña incorrecta</span>
          <span class="text-danger">Las contraseñas no coinciden</span>
        </div> -->
        <div class="row regular-row m-2">
          <div class="col-xs-12 col-sm-6 label fw-bold">Confirmar Contraseña</div>
          <div class="col-xs-12 col-sm-6">           
            <input
            id="validarcontrasena"
            type="password"
            class="form-control"
            placeholder=" "
            formControlName="validarcontrasena"
          />
          </div>
        </div>
        <!-- <div class="d-flex justify-content-end m-2">
          <span class="text-danger">Las contraseñas no coinciden</span>
          <span class="text-danger">La contraseña es requerida</span>
        </div> -->
        <div class="alert alert-danger">
          error}}
        </div>
        <hr />

        <div class="footer-row d-md-flex justify-content-md-end mb-3">
          <button 
          class="btn btn-secondary d-grid gap-2 col-sm-12 col-md-4 col-lg-4 col-xl-4 p-2"
          [routerLink]="['/usuarios/ver-usuario', usuarioBase?.id]"
          >
            Cancelar
          </button>
          <button
            id="btn-sub"
            (submit)="(true)"
            class="btn btn-success d-grid gap-2 col-sm-12 col-md-4 col-lg-4 col-xl-4 p-2"
          >
            <span
              *ngIf="isLoading | async"
              class="spinner-border spinner-border-sm"
              role="status"
              aria-hidden="true"
            ></span>
            Confirmar
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
