/* You can add global styles to this file, and also import other style files */
:root {
    --349c: #026937;
    --7740c: #35944b;
    --361c: #43b649;
    --375c: #8dc63d;
    --7465c: #3ebdac;
    --334c: #069a7e;
    --7718c: #0e7774;
    --7650c: #70205b;
    --633c: #137598;
    --032c: #ef434d;
    --137c: #f9a12c;
}


/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap.scss';
// Estilos formularios


html {
    position: relative;
    min-height: 80vh;
}

body {
  margin-bottom: 60px;
  min-height: 80vh;
}


// .container {
//     min-height: 100vh;
//     max-width: 900px;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     padding: 1em;
//     margin-bottom: 60px;
// }

.card {
    margin: auto;
}

h4,
h3,
h5,h6 {
    text-align: center;
    padding-bottom: 0.5em;
}


.arrayLike .form-control-array {
    width: 90%;
}

.buttons {
    width: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
}


@media screen and (max-width: 768px) {
    .buttons {
        flex-direction: column;
    }
}



.arrayLike {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: .5em;
    width: 100%;
}

.isFill {
    transform: translateY(0) scale(.5);
    transform-origin: left top;
    color: rgba(74, 132, 248, 0.8);
}


.formfloatig {
    position: relative;
    padding-bottom: .4em;
    height: 100%;
    width: 100%;
}

.form-control:focus{   
    border: 1px solid #43b649 !important;
    box-shadow: 0 0 0 3px #C7F9CC !important;}.formLabel,
.form-control:not(:placeholder-shown)+.formLabel {
    transform: translateY(0) scale(.5);
    transform-origin: left top;
}

.formLabel {
    color: gray;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 15px;
    transform: translateY(7px);
    transition: transform .5s, color .3s
}



.selectLabel {
    color: gray;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 15px;
    transform: translateY(7px);
    transition: transform .5s, color .3s
}

.form-select:focus+.selectLabel {
    transform: translateY(0) scale(.5);
    transform-origin: left top;
    color: rgba(74, 132, 248, 0.8);
}

.form-select {
    margin: 0;
}

.isFill {
    transform: translateY(0) scale(.5);
    transform-origin: left top;
    color: rgba(74, 132, 248, 0.8);
}

.isFill {
    transform: translateY(0) scale(.5);
    transform-origin: left top;

    color: rgba(74, 132, 248, 0.8);
}

a {
    text-decoration: none !important;
    color: #000;
}

a:hover {
    cursor: pointer;
}


.btn-remove {
  color: #212529;
  background-color: var(--032c);
  border-color: #020202
}

.btn-remove:hover {
  color: #212529;
  background-color: #d45f57;
  border-color: #000000
}

.btn-add {
  color: #212529;
  background-color: #43b649;
  border-color: #030303
}

.btn-add:hover {
  color: #212529;
  background-color: #79b97c;
  border-color: #000000
}

// Colores estados solicitudes

.pill {
    color: aliceblue;
}

.bg-aprobada {
    background-color: #005F21;
}

.bg-solicitada {
    background-color: #3381B5;
}

.bg-finalizada {
    background-color: #6C767D;
}

.bg-visto-bueno {
    background-color: #3AB795;
}

.bg-rechazada-decanato {
    background-color: #FF6666;
}

.bg-rechazada-coordinacion {
    background-color: #FF6666;
}

.click-table:hover {
    background-color: #d9d9dbec;
}
