.buscador{

    background-color: aqua;
    height: 4em;
}


.navbar{
    border-radius: 2em;
}
.btn{
    background-color: #43B649;
    border-color: #43B649;
}.btn:hover {
    background-color: #43b649d2;
}

<<<<<<< HEAD
=======
.click-table:hover {
    background-color: #d1d1d3ec;
}

>>>>>>> main
