<div class="container-inside shadow-sm pt-4 pl-4 pr-2 mb-5 p-4 m-3 mt-5 bg-white rounded">
  <div class="mb-3 d-flex justify-content-between p-2">
    <div class="d-flex">
      <label 
        for="table-complete-search" class="col-sm-auto col-form-label">Buscar:
      </label>

        <input id="table-complete-search" type="text" 
          class="form-control" name="searchTerm"
          [(ngModel)]="Buscarservice.searchTerm">
    </div>

      <span class="col col-form-label" 
        style="padding-left: 1em"
        *ngIf="Buscarservice.loading$ | async">Cargando...
      </span>

      <select class="form-select" *ngIf="!(rol == 'PROFESOR' || rol == 'EMPLEADO')"
        (change)="changeOption($event)" style="width: auto">
        <option value="0">No archivados</option>
        <option value="1">Archivados</option>
        <option value="2">Todos</option>
      </select>
  </div>

    <hr/>

    <form class="table-responsive">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead class="">
            <tr>
              <th scope="col">#</th>
              <th scope="col" sortable="nombre" (sort)="onSort($event)">Tipo</th>
              <th scope="col" sortable="nombre" (sort)="onSort($event)">Estado</th>
              <th scope="col" sortable="createdAt" (sort)="onSort($event)">Fecha</th>
              <th scope="col" sortable="nombre" (sort)="onSort($event)" *ngIf="!(rol == 'PROFESOR' || rol == 'EMPLEADO')">Nombre</th>
              <th scope="col" sortable="apellido" (sort)="onSort($event)" *ngIf="!(rol == 'PROFESOR' || rol == 'EMPLEADO')">Apellido</th>
              <th scope="col" sortable="nombre" (sort)="onSort($event)">Departamentos</th>
              <th scope="col" sortable="nombre" (sort)="onSort($event)">Facultad</th>
              <th scope="col" sortable="nombre" (sort)="onSort($event)" *ngIf="!(rol == 'PROFESOR' || rol == 'EMPLEADO')">Descargas</th>
              <th> </th>
            </tr>
          </thead>
  
          <tbody>
            <tr *ngFor="let comision of comisiones$ | async"
              [routerLink]="['/comisiones/ver-comision', comision.id]"
              class="click-table">
              
              <th scope="row">{{ comision.id }}</th>
              
              <td>
                <ngb-highlight 
                  [result]="comision.tipos_comision.nombre" 
                  [term]="Buscarservice.searchTerm">
                </ngb-highlight>
              </td>
  
              <td>
                <ngb-highlight 
                  [result]="ultimoElemento(comision.intermediate_comisiones).intermediate_estados.nombre"
                  [term]="Buscarservice.searchTerm" 
                  class="badge badge-pill pill" 
                  [ngClass]="{
                    'bg-solicitada':
                      ultimoElemento(comision.intermediate_comisiones).intermediate_estados.nombre === 'SOLICITADA',
                    'bg-aprobada': 
                      (ultimoElemento(comision.intermediate_comisiones).intermediate_estados.nombre === 'APROBADA' || ultimoElemento(comision.intermediate_comisiones).intermediate_estados.nombre === 'APROBADA CONCEJO INSTITUTO'),
                    'bg-visto-bueno':
                      ultimoElemento(comision.intermediate_comisiones).intermediate_estados.nombre === 'VISTO BUENO',
                    'bg-finalizada':
                      ultimoElemento(comision.intermediate_comisiones).intermediate_estados.nombre === 'FINALIZADA',
                    'bg-rechazada-decanato':
                      ultimoElemento(comision.intermediate_comisiones).intermediate_estados.nombre === 'RECHAZADA DECANATO',
                    'bg-rechazada-coordinacion':
                      ultimoElemento(comision.intermediate_comisiones).intermediate_estados.nombre === 'RECHAZADA COORDINACIÓN'
                    }">
                </ngb-highlight>
              </td>
  
              <td>
                <ngb-highlight 
                  [result]="(ultimoElemento(comision.intermediate_comisiones).createdAt | date:'yyyy-MM-dd')?.toString()"
                  [term]="Buscarservice.searchTerm">
                </ngb-highlight>
              </td>
  
              <td *ngIf="!(rol == 'PROFESOR' || rol == 'EMPLEADO')">
                <ngb-highlight 
                  [result]="comision.usuarios.nombre" 
                  [term]="Buscarservice.searchTerm">
                </ngb-highlight>
              </td>
  
              <td *ngIf="!(rol == 'PROFESOR' || rol == 'EMPLEADO')">
                <ngb-highlight 
                  [result]="comision.usuarios.apellido" 
                  [term]="Buscarservice.searchTerm">
                </ngb-highlight>
              </td>
  
              <td>
                <ngb-highlight 
                  [result]="comision.usuarios.departamentos.nombre" 
                  [term]="Buscarservice.searchTerm">
                </ngb-highlight>
              </td>
  
              <td>
                <ngb-highlight 
                  [result]="comision.usuarios.departamentos.facultades.nombre"
                  [term]="Buscarservice.searchTerm">
                </ngb-highlight>
              </td>

              <td>
                <ngb-highlight 
                  [result]="comision.usuarios.departamentos.facultades.nombre"
                  [term]="Buscarservice.searchTerm">
                </ngb-highlight>
              </td>
  
              <td *ngIf="!(rol == 'PROFESOR' || rol == 'EMPLEADO')">
                <button *ngIf="comision.archivado == 0" type="button" (click)="archivarComision(comision.id);$event.stopPropagation()" class="btn btn-info">Archivar</button>
                <button *ngIf="comision.archivado == 1" type="button" (click)="desarchivarComision(comision.id);$event.stopPropagation()" class="btn btn-info">Desarchivar</button>
              </td>
          </tbody>
        </table>
        
      </div>

      <hr />

      <div class="d-flex justify-content-between p-2">
        <ngb-pagination 
          [collectionSize]="(total$ | async)!" 
          [(page)]="Buscarservice.page"
          [pageSize]="Buscarservice.pageSize">
        </ngb-pagination>
      </div>

    </form>
</div>