  
  
  .card{
    width: 100%;
    max-width: 400px;
    margin: 5px;
    /* // border:none; */
  
  }
  
  
  
  
  .btr{
  
    border-top-right-radius: 5px !important;
  }
  
  
  .btl{
  
    border-top-left-radius: 5px !important;
  }
  
  .btn-dark {
      color: #fff;
      background-color: #3AB795;
      border-color: #3AB795;
  } .btn-dark:hover {
    background-color: #31a37f;
  } .btn-dark:active {
    border-color: #3AB795;
  }
  
  
  .nav-pills{
  
    display:table !important;
    width:100%;
  }
  
  .nav-pills .nav-link {
      border-radius: 0px;
      color: #000;
          border-bottom: 1px solid #0d6efd40;
  
  }
  
  .nav-item{
        display: table-cell;
         background: #0d6efd2e;
  }
  
  
  .form{
  
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
        // height: 300px;
  }
  

  
  
  .form button{
  
    margin-top: 20px;
  }

  .active{
    color: #fff !important;
      background-color: #0d6efd;
      border-color: #0d6efd;
  }


// Formulario de registro

  